<a href="https://colab.research.google.com/github/alfafimel/ELIZABETHJOSEPHINE-IPWK4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_ELIZABETH_JOSEPHINE_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
# import the required libraries 
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
%matplotlib inline

In [108]:
# setting the location for the data in this case

url = 'http://bit.ly/autolib_dataset'

# storing the data in a dataframe
df = pd.read_csv(url)

# previewing the dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [19]:
# previewing the dataset
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [20]:
# checkig the shape
df.shape

(5000, 25)

In [21]:
# printing the data types in the dataset
print(df.dtypes)

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [22]:
# view columns in the dataframe
df.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'Displayed comment',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Scheduled at',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

## **Data Cleaning**

In [43]:
# accessing the dataset information
df.info

<bound method DataFrame.info of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [47]:
# checking for missing values
df.isnull().sum().sort_values(ascending=False)

Scheduled at           4953
Displayed comment      4889
minute                    0
Geo point                 0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
hour                      0
Public name               0
Rental status             0
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
Address                   0
dtype: int64

In [51]:
# counting the missing values in the dataframe
np.count_nonzero(df.isnull())

9842

In [56]:
# dropping all missing values in the dataset
clean_df = df.dropna()
print(clean_df)

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [55]:
# Verifying that there's longer any null values in the dataset
print(clear_df.isnull().sum())

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Displayed comment      0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Scheduled at           0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [109]:
#Check for duplicates
df.duplicated().value_counts()

False    5000
dtype: int64

In [58]:
# Drop all duplicates
df.drop_duplicates(inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 1015.6+ KB

## **Exploration of data**

In [136]:
# Identify the most popular hour of the day for picking up a 
# shared electric car (Bluecar) in the city of Paris 
# over the month of April 2018.

df1 = df.sort_values(['Bluecar counter', 'hour'], ascending=[False, False])
df2 = df1['City'].value_counts()
df2
df1.head()

                             Address  Cars  Bluecar counter  ...  day  hour  minute
534              6 rue Isidore Nerat     7                7  ...    5    21      20
1782                  1 avenue Hoche     7                7  ...    8    20      34
4568  205 Avenue Georges ClÃ©menceau     7                7  ...    1    20      11
146                  22 Voie au Lard     7                7  ...    1    17      35
3115      2 rue du GÃ©nÃ©ral Renault     7                7  ...    9    17      24

[5 rows x 25 columns]

** The most popular hour for picking up a shared electric car is hour 17

In [79]:
# What is the most popular hour for returning cars?
df['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

** the most popular hour for returning the cars is hour 21

In [84]:
# What station is the most popular Overall?
station= df['Address'].value_counts()
station

8 Avenue de la Porte de Montrouge    13
69 Rue de Courcelles                 11
31 boulevard de Grenelle             11
126 Avenue Philippe Auguste          11
35 rue Mathis                        11
                                     ..
28 Route d'Argenteuil                 1
8 Rue BenoÃ®t Malon                   1
45 rue Custine                        1
2 rue Ponceau                         1
26 rue Claude Decaen                  1
Name: Address, Length: 1104, dtype: int64

** the most popular station overall is the 8 Avenue de la Porte de Montrouge station

In [86]:
# What station is the most popular at the most popular picking hour?
popular = df.sort_values(by=['hour'], ascending=False)
print(popular.head())

                       Address  Cars  Bluecar counter  ...  day  hour  minute
581     65 boulevard de Picpus     5                5  ...    4    23      41
906            29 rue d'Alsace     4                4  ...    4    23      56
2043  12 bis Route de la Reine     1                1  ...    3    23      36
1291           88 rue de Bercy     0                0  ...    4    23      41
4174      41 Boulevard Pasteur     0                0  ...    1    23      25

[5 rows x 25 columns]

** **65 boulevard de Picpus**

In [137]:
# What postal code is the most popular for picking up Blue cars?
df2 = df.sort_values(['Address', 'Bluecar counter'], ascending=[False, False])
print(df2)

                Address  Cars  Bluecar counter  ...  day  hour  minute
4368    Quai de SÃ¨vres     6                6  ...    7    16      31
1551    Quai de SÃ¨vres     4                4  ...    2     2      23
703     Quai de SÃ¨vres     0                0  ...    5     1      28
1285    Quai de SÃ¨vres     0                0  ...    5     7      44
2919    Quai de SÃ¨vres     0                0  ...    4     5      16
...                 ...   ...              ...  ...  ...   ...     ...
3006   1 Avenue Marceau     0                0  ...    6     6      52
4850   1 Avenue Marceau     0                0  ...    5     6      51
4486  1 Avenue Gambetta     3                3  ...    9    13      24
299   1 Avenue Gambetta     0                0  ...    1    15      52
1940  1 Avenue Gambetta     0                0  ...    7    20      47

[5000 rows x 25 columns]

** **uai de SÃ¨vres**

To compute usage, we will need to understand that we have to join successive (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.